<div class="wrap">
  <div class="box">
    <div class="header">
      <p>Дорогая моя Таюша, поздравляю Тебя с Днем Рождения! </p>
      <p>Чтобы пройти дальше тебе необходимо пройти квест у Кирюхи. После него он тебе даст пароль :) </p>
    </div>
  </div>

  <div class="box">
    <div class="answer-input">
      <input #answer type="text" class="form-control" id="answer" placeholder="type here">
      <button type="button" (click) = "navigateToSurprise(answer)">answer</button>
    </div>
  </div>
</div>


