<div *ngIf="this.isWorking()" class="wrap">
<!--  <video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">-->
<!--    <source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4">-->
<!--  </video>-->
  <app-egg></app-egg>
  <div class="box">
    <div class="timer">
      <div class="time-to">
        <div class="block">
          <span id="days"> {{daysToDday}} </span>Day(s)
          <span id="hours"> {{hoursToDday}} </span>Hrs
          <span id="minutes"> {{minutesToDday}} </span>Min
          <span id="seconds"> {{secondsToDday}} </span>S
        </div>
      </div>
    </div>
  </div>

</div>
