@import '//fonts.googleapis.com/css?family=Bangers';
@import '//fonts.googleapis.com/css?family=Didact+Gothic';
@import './egg.scss';

.wrap {
  margin:0;
  background: black;
}

.box {
  display:flex;
  justify-content:center;
}

.timer {
  display:flex;
  align-items:center;
  height: 100vh;
  margin-top: 110px;
}

h1 {
  font-family: 'Didact Gothic';
}

.time-to {
  text-align:center;
  font-family: Bangers;
  color:white;
  font-size:35px;
  letter-spacing:2px;
  .block {
    display:block;
    font-size:70px;
    color:red;
    span {
      font-size: 90px;
    }
  }
}

@media (max-width: 600px) {
  .time-to {
    letter-spacing:1px;
    .block {
      font-size:27px;
      span {
        font-size: 43px;
      }
    }
  }
}

.box {
  display:flex;
  justify-content:center;
}








