<div *ngIf="this.isWorking()" class="wrap">
  <div class="box">
    <div class="easter-animation">
      <div class="chick">
        <div class="beak"></div>
      </div>
      <div class="back-flower">
        <div class="daisy">
          <div class="flower"></div>
        </div>
      </div>
      <div class="egg">
        <div class="shell"></div>
      </div>
      <div class="egg-top">
        <div class="shell-top"></div>
      </div>
      <div class="daisy">
        <div class="flower"></div>
      </div>
      <div class="grass"></div>
      <p class="text"></p>
    </div>

    <div class="timer">
      <div class="time-to">
        <div class="block">
          <span id="days"> {{daysToDday}} </span>Day(s)
          <span id="hours"> {{hoursToDday}} </span>Hrs
          <span id="minutes"> {{minutesToDday}} </span>Min
          <span id="seconds"> {{secondsToDday}} </span>S
        </div>
      </div>
    </div>
  </div>
</div>
