@import '//fonts.googleapis.com/css?family=Bangers';
@import '//fonts.googleapis.com/css?family=Didact+Gothic';
@import './egg.scss';

.wrap {
  margin:0;
  background: black;
}

.box {
  display:flex;
  justify-content:center;
}

.timer {
  display:flex;
  align-items:center;
  height: 100vh;
  margin-top: 100px;
}

h1 {
  font-family: 'Didact Gothic';
}

.time-to {
  text-align:center;
  font-family: Bangers;
  color:white;
  letter-spacing:1px;
  .block {
    display:block;
    font-size:30px;
    color:red;
    span {
      font-size: 45px;
    }
  }
}

.box {
  display:flex;
  justify-content:center;
}








